<!DOCTYPE html>

<html>
  <head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
    <title><%= poll.title %></title>
    <script type="text/javascript" src="/views/js/flotr2.min.js"></script>
  </head>
  <body>

    <div class="nav">
      <span>Strawpoll</span>
      <% if (user) { %>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <a href="/new">New Poll</a>
        <a href="/mypolls">My Polls</a>
      <% } else {  %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
     <% } %>
        <a href="/">Home</a>
    </div>

    <div class="meat">
      <h1><%= poll.title %></h1>
      <div class="visualization" id="chart"></div>
      <form class="listofoptions" method="POST" action="/vote">
        <input type="hidden" name="pollid" value=<%= "" +  poll._id %>>
        <% for(var i = 0; i < poll.options.length; i++) { %>
          <input type="radio" name="option" value=<%= "" +  poll.options[i]._id %>>
          <p class="option"><%= poll.options[i].name %></p>
          <br/>
        <% } %>
        <% if (user) { %>
          <input type="radio" name="option" value="writein">
          <input id="writein" class="option" name="writein" type="text" value="Write In"/>
          <br/>
        <% } %>
        <button type="submit" class="link option vote">VOTE</button>
      </form>

 </div>

    <script type="text/javascript">
     var xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          callback(xhr.response);
        }
      };

      xhr.open('GET', '/<%= poll._id %>', true);
      xhr.send();
     
    </script>
    <script type="text/javascript" src="/views/js/ajaxGraph.js"></script>

  </body>
</html>
